/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  background-color: #1c1917; /* dark:bg-stone-900 */
}

::-webkit-scrollbar-track {
  background: #1c1917; /* dark:bg-stone-900 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f97316; /* orange-500 */
  border-radius: 10px;
  border: 3px solid #1c1917; /* dark:bg-stone-900 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fbbf24; /* amber-400 */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #f97316 #1c1917;
}
